In [1]:
print("hello")

hello

In [2]:
print('hello')

hello

In [6]:
print("python's world")

python's world

In [65]:
print("hello\tpython")

hello	python

In [9]:
print("hello\npython")

hello
python

In [20]:
name="ABC"
age=10
print("The name of person is",name,",the age is",age)

The name of person is ABC ,the age is 10

In [27]:
name="ABC"
age=10
print(f"The name of the person is {name},age is {age}")

The name of the person is ABC,age is 10

This is an example for f string.

# Python variable
It is a memory location that stores data.
RULES FOR WRITING PYTHON VARIABLE;
1.Keywords cannot be used.
2.Cannot start with number.
3.Can contain letters(upper or lower case letters),digits,underscores.

In [30]:
x=20
id(x)

140704801465328

id is used to find the address.

In [31]:
y=20
id(y)

140704801465328

In [34]:
x=20
y=20
del(x)
id(y)

140704801465328

# OPERATORS IN PYTHON
1.Arithmetic operator
2.Comparison operator
3.Assignment operator
4.Bitwise operator
5.Logical operator
6.Membership operator
7.Identity operator

# ARITHMETIC OPERATOR
1.ADDITON         +
2.SUBTRACTION     -
3.MULTIPLICATION  *
4.DIVISION        /
5.MODULUS         %
6.FLOOR DIVISION  //

In [35]:
30+40

70

In [36]:
10/3

3.3333333333333335

In [37]:
10//3

3

FLOOR DIVISION

# COMPARISON OPERATOR
1.< 
2.> 
3.<= 
4.>= 
5.== 
6.!=

In [40]:
a=10
b=20
print(a==b)

False

In [41]:
a="hello"
b="Hello"
print(a==b)

False

When compraring strings ascii values are compared.

# ASSIGNMENT OPERATORS

=  ,+=  ,-= .....

In [53]:
x=10
x+=4
print(x)

14

# LOGICAL OPERATORS
1.AND :RETURNS TRUE IF BOTH STATEMENTS ARE TRUE
 2.OR  :RETURNS TRUE IF ONE STATEMENT IS TRUE
 3.NOT :REVERSE THE RESULT

In [56]:
x=5
print(x>3 and x<15)

True

In [57]:
x=5
print(not(x>3 and x<15))

False

In [58]:
a=90
b=50
print(a>100 or 10>9)

True

In [59]:
print(20<10 and 20>P)

False

# MEMBERSHIP OPERATOR
1)IN
2)NOT IN

In [60]:
S="my name is abc"
"e" in S

True

In [62]:
"a"in S

True

In [63]:
"o" in S

False

# OPERATOR PRECEDENCE

In [64]:
a=10
b=5
c=40
d=20
e=(a+b)*c/d
print(e)

30.0